.photo {
  transition: 0.3s ease;
  border: 1px solid transparent;
}

@media (hover: hover) {
  .photo:hover {
    scale: 1.1;
    border-color: var(--primary);
    box-shadow: 0 0 128px var(--primary);
    z-index: 1;
  }
}

.blurredPlacehodler {
  display: block;
  position: absolute;
  inset: 0;
  transition: 0.1s ease-in-out;
}

/* Inspired by https://www.w3schools.com/howto/howto_css_loader.asp */
.blurredPlacehodler::after {
  --spinnerSize: 3rem;
  --spinneThickness: 0.5rem;

  content: "";
  position: absolute;
  border: var(--spinneThickness) solid #cccccc;
  border-top: var(--spinneThickness) solid var(--primary);
  border-radius: 50%;
  width: var(--spinnerSize);
  height: var(--spinnerSize);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.1s ease-in-out;
}
