.container {
  max-width: min(var(--width), calc(100% - 0.5rem * 2));
  margin: calc(var(--headerHeight) + 0.5rem) auto 0;
  padding-bottom: 0.5rem;
}

.subheader {
  padding: 1rem 0;
  font-size: 3rem;
  font-weight: 100;
}

@media (width < 500px) {
  .subheader {
    font-size: 2rem;
  }
}
